
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>编辑商品类型</h3>
    </div>

    <% @products.each do |product| %>
        <%= product.ware %>
    <% end %>

    <%= render 'form', mycla: @mycla %>
  </div>





</div>
